
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AboutMe</title>
</head>
<body>
    <div>
        <h1>درباره من</h1>
        <p>سلام!<br /> من یه توسعه دهنده تازه کار هستم که دارم برنامه نویسی وب با <br />ASP.NET MVC<br /> رو یاد میگیرم هدفم اینه که بتونم پروژه های واقعی بسازم و قدم به قدم مهارت هام رو بهتر کن</p>
        <br />
        <a href="/home/index">بازگشت به صفحه اصلی</a>

    </div>
</body>
</html>
