
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContactMe</title>
</head>
<body>
    <div>
        <h1>تماس با من</h1>
        <p>اگه دوست داری با من در ارتباط باشی یا نظری درباره این تمرین داری , میتونی از طریق ایمیل زیر پیام بدی<br /> mahdihasanvandi2540@gmail.com</p>
        <br />
        <a href="/home/index">بازگشت به صفحه اصلی</a>
    </div>
</body>
</html>
